@font-face {
  font-family: 'FillN__';
  src: url('/path-to/FillN__.woff2') format('woff2'),
       url('/path-to/FillN__.woff') format('woff'),
       url('/path-to/FillN__.ttf')  format('truetype');
}

body {
  font-family: 'FillN__', sans-serif;
}
